<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
<!--        <menuitem id="product_quality_menu_sale"-->
<!--                  parent="sale.product_menu_catalog"-->
<!--                  groups="base.group_user"-->
<!--                  sequence="110"-->
<!--                  action="scrap_return_iuh.product_quality_act_window"-->
<!--        />-->

<!--        <menuitem action="action_production_lot_form"-->
<!--                  id="menu_action_production_lot_form"-->
<!--                  parent="menu_stock_inventory_control"-->
<!--                  groups="stock.group_production_lot"-->
<!--                  sequence="101"-->
<!--        />-->
    </data>
</odoo>